{% block content %}


<div class="page-content page-container" id="page-content">
    <div class="row container bg-white d-flex justify-content-center rounded-lg">
        <div class="col-xl-6 col-md-12">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">


                    <div class="page-content page-container" id="page-content">
                        <div class="container bg-white rounded-lg p-4">

                            <form id="scoreInfo">
                                {% csrf_token %}
                                <button type="button" id="closeBtn" class="btn btn-danger" style="position: absolute; top: 100px; right: 20px;">✖️</button>
                                <div class="form-group mb-5">
                                    <label for="icpUrls" class="m-3">ICP URL(s)
                                    <!-- <button type="button" id="addIcpUrlBtn" class="btn btn-secondary ml-2">➕</button> -->
                                    </label>
                                    <div id="icpUrls">
                                        <input 
                                        type="text"
                                        name="icp_url" 
                                        class="form-control block ml-2 w-1/3 py-1.5 pl-3 rounded-md focus:border-transparent focus:outline-none focus:ring-1 focus:ring-black ring-opacity-90 bg-gray-100 dark:bg-gray-800 text-gray-400 aa-input"
                                        placeholder="Enter an ICP URL">
                                    </div>

                                </div>
                                
                                <div class="form-group mb-5">
                                    <label for="products" class="m-3">Product(s)</label>
                                    <!-- <button type="button" id="addProductBtn" class="btn btn-secondary ml-2">➕</button> -->
                                    <div id="products">
                                        <input type="text"
                                        name="product"
                                        class="form-control block ml-2 w-1/3 py-1.5 pl-3 rounded-md focus:border-transparent focus:outline-none focus:ring-1 focus:ring-black ring-opacity-90 bg-gray-100 dark:bg-gray-800 text-gray-400 aa-input"
                                        placeholder="Enter a product">
                                    </div>
                                </div>
                                
                                <div class="form-group mb-5">
                                    <label for="typeOfLead" class="m-3">Type of Lead</label>
                                    <select 
                                    class="form-control block ml-2 w-1/3 py-1.5 pl-3 rounded-md focus:border-transparent focus:outline-none focus:ring-1 focus:ring-black ring-opacity-90 bg-gray-100 dark:bg-gray-800 text-gray-400 aa-input"
                                    id="typeOfLead"
                                    name="lead_type">
                                        <option>BRAND</option>
                                        <option>RETAILER</option>
                                        <option>OTHER</option>
                                    </select>
                                </div>

                                <button id="startTaskButtonGmap" type="submit" class="px-4 m-3 py-1.5 bg-black text-white rounded-md hover:bg-gray-800">Score ⭐</button>
                            
                            </form>
                        </div>
                    </div>

<script>
    $(document).ready(function() {

        // Using delegated event binding for dynamic elements
        $(document).on('click', '#startTaskButtonGmap', function(event) {
            event.preventDefault(); // Prevent the default form submit action
            startTask_gmap(); // Call the function to start the task
        });
    });


    function startTask_gmap() {
        $.ajax({
            url: '/start_task_gmap/', // Adjust URL to your task starting endpoint
            type: 'POST',
            data: $('#scoreInfo').serialize(), // Serialize form data
            success: function(response) {
                if (response.job_id) {
                    localStorage.setItem('taskInProgress', 'true');
                    localStorage.setItem('jobId', response.job_id); // Store the job ID
                    lockButtons();
                    window.location.reload(true);
                    checkTaskStatus(response.job_id);
                } else {
                    alert("Failed to start task. Please try again.");
                }
            },
            error: function() {
                alert("An error occurred. Please try again.");
                unlockButtons();
            }
        });
    }

</script>




<script>
// Named function for adding input
// document.addEventListener('click', function(event) {
//     // Check if the clicked element is the ICP URL "+" button
//     if (event.target && event.target.id === 'addIcpUrlBtn') {
//         const icpUrlsContainer = document.getElementById('icpUrls');
//         const newInput = document.createElement('input');
//         newInput.type = 'text';
//         newInput.name = 'icp_url'
//         newInput.className = 'form-control block ml-2 w-1/3 py-1.5 pl-3 rounded-md focus:border-transparent focus:outline-none focus:ring-1 focus:ring-black ring-opacity-90 bg-gray-100 dark:bg-gray-800 text-gray-400 aa-input mt-2';
//         newInput.placeholder = 'Enter an ICP URL';
//         icpUrlsContainer.appendChild(newInput);
//     }

//     // Check if the clicked element is the Product "+" button
//     if (event.target && event.target.id === 'addProductBtn') {
//         const productsContainer = document.getElementById('products');
//         const newInput = document.createElement('input');
//         newInput.type = 'text';
//         newInput.className = 'form-control block ml-2 w-1/3 py-1.5 pl-3 rounded-md focus:border-transparent focus:outline-none focus:ring-1 focus:ring-black ring-opacity-90 bg-gray-100 dark:bg-gray-800 text-gray-400 aa-input mt-2';
//         newInput.placeholder = 'Enter a product';
//         productsContainer.appendChild(newInput);
//     }
// });
document.getElementById('closeBtn').addEventListener('click', function() {
    // window.location.href = '/app/e-commerce'; // Redirect to the desired URL
    window.location.reload(true);
});


</script>


{% endblock content %}