{% load static %}
<div class="flex h-full flex-col justify-between rounded-lg  border-black bg-white">
  <div class="px-4 py-6">
    <span class="grid h-10 w-48 place-content-center rounded-lg">
      <img src="{% static 'images/logo.png' %}" alt="" class="mt-3 w-28" />
    </span>

    <ul class="mt-6 space-y-1 mt-6 border-t pt-6">
      <li class="mb-2">
        <div role="button"
          data-page="ecommerce"
          class="page-button block rounded-lg px-4 py-2 text-sm font-medium text-gray-700"
          hx-get="/app/e-commerce"
          hx-params="hx_menu_request" 
          hx-push-url="true" 
          hx-target="#content-div" 
          hx-swap="innerHTML"
          hx-indicator="#content-div">🛒 E-commerce shops</div>
      </li>

      <li class="mb-2">
        <div role="button"
          data-page="gmap"
          class="page-button block rounded-lg px-4 py-2 text-sm font-medium text-gray-700"
          hx-get="/app/gmap"
          hx-params="hx_menu_request"
          hx-push-url="true" 
          hx-target="#content-div" 
          hx-swap="innerHTML"
          hx-indicator="#content-div">🌍 Google map</div>
      </li>

      <li class="mb-2">
        <div role="button"
          class="page-button block rounded-lg px-4 py-2 text-sm font-medium text-gray-700"
        >🎪 Trade fair</div>
      </li>

      <li class="mb-2">
        <div role="button"
          class="page-button block rounded-lg px-4 py-2 text-sm font-medium text-gray-700"
        >🛍 Online Marketplaces</div>
      </li>

    </ul>
  </div>


  <div class="overflow-x-auto m-2 rounded-lg bg-blue-50">
    <table class="min-w-full divide-y-2 divide-white bg-blue-50 text-sm">
      <thead class="ltr:text-left rtl:text-right">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium font-bold text-gray-900"></th>
          <th class="whitespace-nowrap px-4 py-2 font-medium font-bold text-gray-900">Source</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium font-bold text-gray-900">Date</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium font-bold text-gray-900">Status</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-white">
        {% for score in score_list %}
        <tr class="odd:bg-gray-50">
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 flex justify-between items-center">
            <a href="#" 
               hx-get="{% url 'end_task' score.job_id %}" 
               hx-confirm="Are you sure you want to delete this score ?" 
               hx-target="this" 
               hx-swap="outerHTML" 
               class="text-red-500 hover:text-red-700">
              ❌
            </a>
          </td>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          <a href="#" 
             hx-get="{% url 'load_score' score.job_id %}" 
             hx-target="#content-div" 
             hx-swap="innerHTML" 
             class="text-gray-700 hover:text-blue-500 mr-2">
            {{ score.source }}
          </a>
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ score.id }}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ score.status }}</td>
          
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="whitespace-nowrap px-4 py-2 text-sm text-gray-500 text-center border-l">No scores available</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  
  

  <div id="user-section" class="sticky bottom-8 inset-x-0 border-t border-gray-100 bg-white mt-2">
    <a href="/logout" class="flex items-center gap-2 p-4 hover:bg-gray-50">
      <img
        src="{% static 'images/user.png' %}"
        alt=""
        class="h-10 w-10 rounded-full object-cover"
      />
      <div>
        <p class="text-xs">
          <strong class="block font-medium">{{ user.username }}</strong>
          <span> {{ user.email }} </span>
        </p>
      </div>
    </a>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
      // Function to update button styles based on the current URL
      function highlightCurrentButton() {
          const pageButtons = document.querySelectorAll('.page-button');
          const currentPath = window.location.pathname;
  
          pageButtons.forEach(button => {
              const pagePath = button.getAttribute('hx-get');
  
              // Reset all buttons to their default state
              button.classList.remove('bg-blue-100');
              // button.classList.add('bg-gray-100');
  
              // Highlight the button if its hx-get attribute matches the current URL
              if (currentPath.includes(pagePath)) {
                  // button.classList.remove('bg-gray-100');
                  button.classList.add('bg-blue-100');
              }
          });
      }
  
      // Function to manually update button styles when clicked
      function updateButtonStylesOnClick() {
          const pageButtons = document.querySelectorAll('.page-button');
  
          pageButtons.forEach(button => {
              button.addEventListener('click', function() {
                  // Reset all buttons to their default state
                  pageButtons.forEach(btn => {
                      btn.classList.remove('bg-blue-100');
                      // btn.classList.add('bg-gray-100');
                  });
  
                  // Highlight the clicked button
                  // this.classList.remove('bg-gray-100');
                  this.classList.add('bg-blue-100');
              });
          });
      }
  
      // Highlight the correct button on page load
      highlightCurrentButton();
  
      // Attach click event listeners to all buttons for immediate style update
      updateButtonStylesOnClick();
  });
  </script>

<script>
  document.body.addEventListener('refreshPage', function() {
      window.location.reload(true);  // Force reload the current page
  });
  </script>
  
  