<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <meta charset="UTF-8">
    <title>{% block title %}template{% endblock %}</title>
</head>


<body>

        <main class="relative h-screen overflow-hidden bg-blue-50 dark:bg-gray-800">
            <div class="flex justify-between h-screen p-3">
                <div class="flex flex-col pr-2 w-1/6">
                {% include 'core/app/app_left_menu.html' %}
                </div>
                <div class="flex flex-col w-5/6">


                    <div class="content-wrapper">
                        <div id="content-div"
                            class="overflow-auto"
                            hx-history-elt>

                            {% block content %}{% endblock %}

                        </div>
                    </div>
        </main>
    <script>
const colors = require('tailwindcss/colors')

module.exports = {
  theme: {
    colors: {
      transparent: 'transparent',
      current: 'currentColor',
      black: colors.black,
      white: colors.white,
      gray: colors.trueGray,
      indigo: colors.indigo,
      red: colors.rose,
      yellow: colors.amber,
    }
  }
}

    </script>

    <script src="https://unpkg.com/htmx.org@1.2.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
</body>

</html>