
{% block content %}
<div class="shadow-lg bg-white rounded-lg">
    <div class="relative overflow-x-auto rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 rounded-lg">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                      <!-- <input type="checkbox" id="select-all" class="cursor-pointer"> -->
                    </th>
                    <!-- <th scope="col" class="px-6 py-3">Name</th> -->
                    <th scope="col" class="px-6 py-3">Link</th>
                    <th scope="col" class="px-6 py-3">Description</th>
                    <th scope="col" class="px-6 py-3">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr class="bg-white border-b">
                    <!-- <th scope="row" class="px-6 py-4 font-medium text-gray-900">{{ project.name }}</th> -->
                    <td class="px-6 py-4">
                      <input type="checkbox" name="selected_item" value="{{ project.id }}" class="cursor-pointer"> <!-- Assuming each project has an ID -->
                    </td>
                    <td class="px-6 py-4">
                        <a href="{{ project.name }}" class="text-blue-600 hover:underline">{{ project.name }}</a>
                    </td>
                    <td class="px-6 py-4">{{ project.description }}</td>
                    <td class="px-6 py-4">{{ project.score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




{% endblock content %}


<script>
</script>
    
