{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="md:m-10 shadow-2xl">
    <a href="/" class="absolute top-7 right-10 m-4 p-2 text-lg font-semibold" aria-label="Close">
        &times;
    </a>
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div style="background-image: url('{% static 'images/home_1.png' %}'); background-size: cover; background-position: center; height: 100vh;"></div>
        <section class="bg-gray-50 dark:bg-gray-900">
            <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

                <a href="/" aria-label="Company" title="Company" class="inline-flex items-center mb-3">
                                    <!-- <svg class="w-8 text-deep-purple-accent-400" viewBox="0 0 24 24" stroke-linejoin="round" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke="currentColor" fill="none">
                                        <rect x="3" y="1" width="7" height="12"></rect>
                                        <rect x="3" y="17" width="7" height="6"></rect>
                                        <rect x="14" y="1" width="7" height="6"></rect>
                                        <rect x="14" y="11" width="7" height="12"></rect>
                                    </svg> -->
                                    <span class="ml-2 text-xl font-bold tracking-wide text-gray-800 uppercase">
                                        <img src="{% static 'images/logo.png' %}" alt="" class="mt-3 w-28" />
                                    </span>
                </a>
                <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            Sign in
                        </h1>
                        <form class="space-y-4 md:space-y-6" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.GET.next|default:'/app/e-commerce' }}">
                            {% if messages %}
                                <ul class="list-disc text-red-500">
                                    {% for message in messages %}
                                        <div class="bg-red-500 text-white p-2 my-2">
                                            <li>{{ message }}</li>
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div>
                                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                                <input type="username" name="username" id="usermail" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="username" required="">
                            </div>
                            <div>
                                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                                <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                            </div>
                            <div class="flex items-center justify-between">
                                <div class="flex items-start">
                                    <div class="flex items-center h-5">
                                        <input id="remember" name="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800">
                                    </div>
                                    <div class="ml-3 text-sm">
                                        <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                                    </div>
                                </div>
                                <a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
                            </div>
                            <button type="submit" class="w-full items-center justify-center h-9 px-5 text-sm font-small tracking-wide transition duration-200 rounded shadow-md focus:shadow-outline focus:outline-none bg-white text-black border-2 border-gray-600 hover:bg-gray-100">
                                Sign in
                              </button>
                              

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
