{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="md:m-10 shadow-2xl">
    <div class="grid grid-cols-1 md:grid-cols-2">
    <div style="background-image: url('{% static 'images/login.png' %}'); background-size: cover; background-position: center; height: 100vh;"></div>
        
        <div class="flex flex-col items-center justify-center h-screen">
            <form method="post" action="{% url 'register' %}" class="shadow-lg w-80">
                {% csrf_token %}
                <div class="my-3 text-xl font-medium text-center">Register</div>
                <div class="p-5 pt-3">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="bg-red-500 text-white p-2 my-2">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <input type="text" name="username" placeholder="Username" class="w-full p-3 my-3 border outline-0 placeholder:text-black">
                    <input type="email" name="email" placeholder="Email Address" class="w-full p-3 my-3 border outline-0 placeholder:text-black">
                    <input type="password" name="password1" placeholder="Password" class="w-full p-3 my-3 border outline-0 placeholder:text-black">
                    <input type="password" name="password2" placeholder="Confirm Password" class="w-full p-3 my-3 border outline-0 placeholder:text-black">
                    <button type="submit" class="w-full p-3 text-xl font-medium text-center text-white bg-blue-600">Register</button>
                </div>
            </form>
            <div class="mt-4">
                <a href="{% url 'login' %}" class="text-blue-500 underline">Already have an account? Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
